<?xml version="1.0" encoding="UTF-8"?>
<configuration monitorInterval="30" status="warn" packages="org.apache.logging.log4j.core, com.cloudscrape.logging">
    <appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%p] %c - [%t] %msg%n"/>
            <ThresholdFilter level="debug"/>
        </Console>
    </appenders>

    <loggers>
        <logger name="org.eclipse" level="info" additivity="false">
            <appender-ref ref="console" />
        </logger>

        <logger name="org.quartz" level="info" additivity="false">
            <appender-ref ref="console" />
        </logger>

        <logger name="org.elasticsearch" level="info" additivity="false">
            <appender-ref ref="console" />
        </logger>

        <logger name="com.mchange" level="info" additivity="false">
            <appender-ref ref="console" />
        </logger>

        <logger name="org.postgresql" level="info" additivity="false">
            <appender-ref ref="console" />
        </logger>

        <logger name="com.cloudscrape" level="debug" additivity="false">
            <appender-ref ref="console" />
        </logger>

        <logger name="io.dexi" level="debug" additivity="false">
            <appender-ref ref="console" />
        </logger>

        <logger name="com.vonhof" level="debug" additivity="false">
            <appender-ref ref="console" />
        </logger>

        <root level="info" additivity="false">
            <appender-ref ref="console"/>
        </root>
    </loggers>

</configuration>